*{
    color: white;
    margin: 0;
}
.header{
    background-color: #a36bff;
}
.section{
    background-color: #ffa36b;
}
.article{
    background-color: #ff6b7d;
}
.footer2{
    background-color: #78dbbc;
}

/*propiedades de texto*/
.titulo-h1 {
    letter-spacing: 2px; /*acepta medidas absolutas, relativas y flexibles*/
    text-align: center; /*left, right, justify*/
    text-shadow: 10px 10px red;
}

.parrafo1 {
    word-spacing: 5px;
}

.parrafo2 {
    text-transform: uppercase; /*lowercase, capitalize*/
}

.titulo-h3 {
    text-decoration: underline; /* overline, overline underline, line-through*/
    text-decoration-color: red;
    text-decoration-style: wavy;
}

.titulo-h4 {
    
}

/*bordes*/

.table2 {
    border: 2px solid black; /* double, dotted*/
}
.td {
    border-left: 1px dotted red;
    border-right: 1px solid green;
    border-bottom: 1px double blue;
    border-top: 1px solid pink;
}

.button2 {
    border-radius: 25px;
    border: 1px solid blue;
    color: black;
}

.lista-ordenada li{
    list-style-type: upper-roman;
}

.lista-desordenada li {
    list-style-type: circle; /*square, disc, none*/
}