/*Esto es un comentario*/

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Alata&family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Londrina+Solid&display=swap');
/*Selector universal*/

*{
    font-family: 'Comfortaa', cursive;
}

/*selector de etiqueta no se suele usar, es preferible usar clases o id*/
.css-h2 {
    color: green;
    font-family: 'Acme', sans-serif;
}

/*selector de clase*/
.rojo {
    color: red;
    font-size: 32px;
    font-weight: bolder;
    font-family: 'Alata', sans-serif;
}

/*selector de id*/
#subtitulo {
    background-color: rgba(215, 211, 78, 0.5); /*el último valor es para la transparencia...va de 0 a 1; para hexadecimal se puede usar opacity: ""*/
    
}

.italic {
    font-style: italic;
}

.p1 {
    font-size: 20px;
}

.p2 {
    font-size: 2em;
}

.p3 {
    font-size: 1.5rem;
}

.header{
    background-color: #a36bff;
}
.section{
    background-color: #ffa36b;
}
.article{
    background-color: #ff6b7d;
}
.footer2{
    background-color: #78dbbc;
}

/*propiedades de texto*/
.titulo-h1 {
    letter-spacing: 2px; /*acepta medidas absolutas, relativas y flexibles*/
    text-align: center; /*left, right, justify*/
    text-shadow: 10px 10px red;
}

.parrafo1 {
    word-spacing: 5px;
}

.parrafo2 {
    text-transform: uppercase; /*lowercase, capitalize*/
}

.titulo-h3 {
    text-decoration: underline; /* overline, overline underline, line-through*/
    text-decoration-color: red;
    text-decoration-style: wavy;
}

/*bordes*/

.table2 {
    border: 2px solid black; /* double, dotted*/
}
.td {
    border-left: 1px dotted red;
    border-right: 1px solid green;
    border-bottom: 1px double blue;
    border-top: 1px solid pink;
}

.button2 {
    border-radius: 25px;
    border: 1px solid blue;
    color: black;
}

.lista-ordenada li{
    list-style-type: upper-roman;
}

.lista-desordenada li {
    list-style-type: circle; /*square, disc, none*/
}

.actividad-section{
    background-color: rgba(224, 224, 224, 0.5);
    color: black;
}

.actividad-h1 {
    font-family: 'Londrina Solid', cursive;
    text-align: center;
    color: black;
}

.actividad-h2 {
    font-family: 'Indie Flower', cursive;
    color: black;
}

.actividad-input {
    border-radius: 25px;
    border: none;
}

.actividad-footer {
    text-align: center;
}

.modelo-de-caja {
    margin: 0;
    text-align: center;
    box-sizing: border-box;
}

/* ---------- Box Model ------- */
.margin {
    background-color: #31B082;
    width: 200px;
    height: 150px;
    /* margin: 10px;  top | bottom | left | right 
    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-right: 25px; 
    margin: 15px 20px 5px; top | left y right | bottom
    margin: 25px 5px;  top y bottom | left y right */
    margin: 5px 2px 20px 40px; /* top | right | bottom | left */
    color: white;
}
.padding {
    background-color: #319FB0;
    width: 200px;
    height: 150px;
    /* padding: 50px;
    padding-bottom: 55px;
    padding-right: 2px;
    padding-left: 10px;
    padding-top: 20px; */
    padding: 20px 10px 10px 20px;
    color: white;

}
.border-caja {
    background-color: #4231B0;
    width: 200px;
    height: 150px;
    border: 5px dotted black;
    color: white;
}
.box-model {
    background-color: #8231B0;
    width: 200px;
    height: 150px;
    margin: 30px;
    padding: 50px;
    border: 10px solid black;
    color: white;
}
.box-sizing {
    background-color: #B0319E;
    width: 200px;
    height: 150px;
    margin: 30px;
    padding: 50px;
    border: 10px solid black;
    color: white;
}

/*-----Unidades Absolutas-----*/
.cm {
    font-size: 2cm;
}
.mm{
    font-size: 5mm;
}
.px{
    font-size: 16px;
}
.pt{
    font-size: 10pt;
}
.in{
    font-size: 1in;
}
.pc{
    font-size: 1pc;
}

/*-----Unidades Relativas-----*/

.em{
    font-size: 1.1em; /*----- 24px (medida del padre o del último más cercano) + 10%-----*/
}
.padre-em{
    font-size: 24px;
}
.rem{
    font-size: 1.6rem;/*----- medida del elemento html + 60%-----*/
}
.clase-img {
	width: 30vw;
	height: 30vh;
}

.clase-padre1{
    border: 1px solid black;
    width: 50vw;
    height: 50vh;
    margin: auto;
}

.clase-relative{
    background-color: lightblue;
    width: 150px;
    height: 150px;
    position: relative; /**/
    top: 50px;
    left: 30px;
    right: 45px;
}

.clase-absolute{
    background-color: tomato;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 60px; /*las coordenadas las toma desde el ancestro más cercano que tenga una posición, si ninguno tiene, se pega al body*/
    right: 60px;
}

.clase-fixed{
    background-color: violet;
    width: 100px;
    height: 100px;
    position: fixed; /*las coordenadas las toma desde lo que se ve del navegador*/
    bottom: 50px;
    right: 20px;
}

.clase-sticky{
    background-color: orange;
    width: 150px;
    height: 150px;
    position: sticky;
    top: 20px;
}

.flex-container2{
    display: flex;
    flex-direction: row; /*row es el default, row reverse, posiciona del lado contrario (de derecha a izquierda), se puede hacer con column y queda posicionado de arriba hacia abajo y column-reverse, de abajo hacia arriba*/
    width: 80vw;
    height: 50vh;
    background-color: plum;
    justify-content: space-around; /* alinea los elementos en el eje principal (main axis)*/
    align-items: stretch;
}

.flex-item1{
    background-color: orange;
    width: 10vw;
    height: 15vh;
}

.flex-item2{
    background-color: tomato;
    width: 10vw;
    height: 15vh;
}

.flex-item3{
    align-items: flex-start;
}

.section-flexbox {
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0;
    font-size: 28px;
}

.menu-flexbox-header{
    height: 25vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.menu-flexbox-ul{
    list-style-type: none;
    display: flex;
    align-self: flex-start;
}

.menu-flexbox-ul li{
    margin: 0.5em;
}

.menu-flexbox-a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: .5em;
}

.menu-flexbox-img{
    border-radius: 50%;
}

p > strong { /*Llama al hijo directo*/
    color: orange;
}

/*Selector de hermanos adyacentes*/
h2+p{
    background-color: orange;
}

/*Selector de hermanos general*/
.hermano-gral h2~p{
    background-color: black;
    color: white;
}

/*Selector de atributo*/

/* -- por nombre del atributo -- */
img[alt] {
    border: 2px solid #000000;
    /* todas las imagenes con el atributo alt
      van a tener un borde negro de 2 px*/
  } 
  
  /* -- por valor del atributo -- */
  img[alt="imagen-aleatoria2"] {
    border: 2px solid #FF0000;
    /* todas las imagenes con el valor: imagen-aleatoria2
      en el atributo alt, van a tener un borde
      rojo de 2 px*/
  }
  /* -- por sub-cadena -- */
  img[alt^="cadena"] {
   border: 4px solid #65057A;
     /* todas las imagenes donde el valor de alt 
        comience con "cadena" se les va a aplicar un box-shadow. ^ indica que va a seleccionar
        solo a los elementos que comiencen con el valor indicado */
  }
  img[alt$="verde"] {
   box-shadow: 8px 2px #3AC332;
     /* todas las imagenes donde el valor de alt 
        que terminen con "verde" se les va a aplicar un box-shadow. $ indica que va a seleccionar
        solo a los elementos que terminen con el valor indicado */
  }

  /*p:first-child{
    background-color: violet;
}*/

/*p:last-child{
    background-color: orange;
}*/

li:nth-child(5){
    color: violet;
    font-weight: bold;
}

/*repite el estilo cada x cantidad de hijos*/
li:nth-child(3n){
    background-color: orange;
}

/*aplica el estilo cada 2 items*/
li:nth-child(2n+1){
    color: tomato;
}

li:nth-child(even){
    color: green;
}

li:nth-child(odd){
    color: red;
}

/* enlaces */
/*
a:link {
    color: blueviolet;
    text-decoration: none;
}

a:active {
    color: green;
}

a:hover {
    background-color: purple;
    color: white;
}

a:visited {
    color: pink;
}
*/

.fa-youtube {
    color: black;
    font-size: 5rem;
}

.fa-youtube:hover {
    color: red;
}

h5::first-letter {
    color: orange;
}

blockquote::first-line {
    color: violet;
}

h5::before {
    content:"😁";
}

h5::after{
    content: "🤩";
}

.ejercicio-dados{
    box-sizing: border-box;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}

[class^="dado-"] {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    margin: 1em;
    padding: 10px;
}

.punto {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
}

/* dado 1*/

.dado-1 {
    justify-content: center; /*horizontal*/
    align-items: center; /*Vertical*/
}

/* dado 2*/

.dado-2 {
    justify-content: space-between;
}

.dado-2 .punto:nth-child(2){
    align-self: flex-end;
}

/* dado 3*/

.dado-3 {
    justify-content: space-between;
}

.dado-3 .punto:nth-child(2){
    align-self: center;
}

.dado-3 .punto:nth-child(3){
    align-self: flex-end;
}

/* dado 4*/

.dado-4 {
    justify-content: space-between;
}

.dado-4 .columna {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* dado 5*/

.dado-5 {
    justify-content: space-between;
}

.dado-5 .columna {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dado-5 .punto:nth-child(2) {
    align-self: center;
}

/* dado 6*/

.dado-6 {
    justify-content: space-between;
}

.dado-6 .columna {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-container-1 {
    width: 500px;
    height: 500px;
    background-color: violet;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.flex-item-1 {
    background-color: tomato;
    width: 100px;
    height: 100px;
}

.flex-item-1:nth-child(even) {
    background-color: orange;
}

.titulo-animado {
    text-align: center;
    font-size: 3rem;
}

.titulo-animado:hover {
    transition-property: color;
    transition-duration: 2s; /* s | ml */
    transition-timing-function: ease-in-out; /* ease | ease in-out | ease-in-out | ease-in | linear */
    color: blueviolet;
}

#transicion {
    width: 20vw;
    height: 5vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(81,9,121,1) 35%, rgba(197,0,255,1) 100%);
}

#transicion:hover {
    transition: width 2s ease-in-out;
    width: 100vw;
}

.flex-container-3 {
	margin: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.button-3 {
	height: 10vh;
	width: 20vw;
	cursor: pointer; /* grab | text | help | move | zoom-in | zoom-out */
	transition: 2s box-shadow ease-out;
}
.button-3:hover {
	background-color: black;
	color: white;
	font-size: 1.1rem;
	transform: scale(1.2);
	border: 1px;
	box-shadow: 0px 5px 2px tomato;
}

#div-animado {
    animation: ejemplo 10s infinite;
}

@keyframes ejemplo {
    0% {
        width: 10%;
        height: 10vh;
        background-color: aquamarine;
    }
    25% {
        width: 20%;
        height: 10vh;
        background-color: aqua;
    }
    50% {
        width: 30%;
        height: 10vh;
        background-color: blue;
    }
    75% {
        width: 70%;
        height: 10vh;
        background-color: purple;
    }
    100% {
        width: 100%;
        height: 10vh;
        background-color: violet;
    }
}

.imagen-mundo {
    margin: 5%;
    display: block;
    width: 150px;
    height: 150px;
    border: none!important;
    animation: mundo 4s  alternate-reverse forwards infinite
}

.imagen-mundo:hover {
    animation-play-state: paused;
}

@keyframes mundo {
    from {
        transform: translate(-5vw, 0) rotate(0deg);
    }
    to {
        transform: translate(60vw,0) rotate(360deg);
    }
}

.responsive {
    background-color: violet;
    height: 50vh;
}

/* media queries*/

@media screen and (max-width: 400px) {
    .responsive {
        background-color: red;
    }
}

@media (min-width: 401px) and (max-width: 800px) {
    .responsive {
        background-color: blue;
    }
}

@media (min-width: 801px) and (max-width: 1200px){
    .responsive {
        background-color: green;
    }
}

/*
Pantallas extra-chicas:
@media only screen and (max-width: 600px);

pantallas chicas (tablets y celulares grandes)
min-width: 768px;

pantallas grandes (algunas pantallas de escritorio)
min-width: 992px (aprx);
*/

.grid-container {
    margin-left: 2rem;
    display: grid;
    width: 90%;
    grid-template-columns: repeat(3, auto); /*es lo mismo que 1fr 1fr 1fr*/
    grid-template-rows: repeat(4, 20vh);
    grid-gap: 1rem;
}

.grid-item {
    background-color: lightgray;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    font-size: 2rem;
}

.ejemplo-css-grid{
    background: linear-gradient(60deg, #f93d66, #6d47d9);
}

.grid-container-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-gap: 1rem;
}

.grid-item-1 {
    background: rgba(0,0,0,0.3);
    border: 1px solid;
    border-color: rgba(0,0,0,0.2);
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 1rem;
    pad: 1rem;
}

.grid-img {
    width: 100%;
}