@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
    font-family: 'Comfortaa', cursive;
}

body {
    display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.index-bg {
    background-color: #b663d9;
    color: white;
}
.html-bg {
    background-color: #e34c26;
    color: white;
}

.css-bg {
    background-color: #2965f1;
    color: white;
}

.bootstrap-bg {
 background-color: #563d7c;
 color: white;
}

.js-bg {
    background-color: #f0db4f;
    color: #323330;
}

.vue-bg {
    background-color: #42b883;
    color: #35495e;
}

.git-bg {
    background-color: #F4CBB2;
    color: #211F1F;
}

.db-bg {
    background-color:#00758F;
    color: white;
}

.java-bg {
    background-color: #6db33f;
    color: white;
}

.footer {
    position: fixed;
    bottom: 0px;
}

#stop-hand:focus {
    outline: none;
}

#stop-hand:hover {
    cursor: pointer;
}