body {
  main {
    .container {
      padding: 60px 15px 5rem;
    }
  }
}

input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.justify {
  text-align: justify;
  text-justify: inter-word;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}