#css-obligatorio-1 {
  .container{
    height: 80vh;
  }
  
  .container-ejercicio {
    font-size: 2rem;
    height: 50%;
    width: 90%;
    margin: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
  }

  .box {
    align-items: stretch;
    background-color: red;
    color: yellow;
    margin: 0.25rem;
    padding: 1rem;
    width: 100%;
  }

  .container :nth-child(2) {
    background-color: black;
    color: white;
  }
}