<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="icon" href=".././img/favicon.ico"/>
    <title>Vue</title>
</head>
<body class="vue-bg">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="#" class="navbar-brand"><i class="fas fa-laptop-code"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./1_html.html">HTML</a>
                </li>
                <li class="nav-item">
                    <a href="./2_css.html" class="nav-link">CSS</a>
                </li>
                <li class="nav-item">
                    <a href="./3_bootstrap.html" class="nav-link">Bootstrap</a>
                </li>
                <li class="nav-item">
                    <a href="./4_javascript.html" class="nav-link">JavaScript</a>
                </li>
                <li class="nav-item active">
                    <a href="./5_vue.html" class="nav-link">Vue</a>
                </li>
                <li class="nav-item">
                    <a href="./6_git_scrum.html" class="nav-link">Git/Scrum</a>
                </li>
                <li class="nav-item">
                    <a href="./7_base_de_datos.html" class="nav-link">Base de Datos</a>
                </li>
                <li class="nav-item">
                    <a href="./8_java_y_spring.html" class="nav-link">Java y Spring</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Actividades Obligatorias
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="../actividades_obligatorias/1_css.html">CSS</a>
                        <a class="dropdown-item" href="../actividades_obligatorias/2_bootstrap_cards.html">Bootstrap Cards</a>
                        <a class="dropdown-item" href="../actividades_obligatorias/3_bootstrap_formulario.html">Bootstrap Formulario</a>
                        <a class="dropdown-item" href="../actividades_obligatorias/4_javascript_variables.html">JavaScript Variables</a>
                        <a class="dropdown-item" href="../actividades_obligatorias/5_javascript_bucles.html">Javascript Bucles</a>
                        <a class="dropdown-item" href="../actividades_obligatorias/6_javascript_login.html">Javascript Login</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="https://smichelle05a.github.io/portfolio/" class="nav-link">Portfolio</a>
                </li>
            </ul>
        </div>
    </nav>
    <main class="container mt-4">
        <header class="text-center display-4">
            <h1>Clases de Vue</h1>
        </header>
        <!-- contenedor vue -->
        <div id="app">
            <div class="my-5">
                <p>Diferencia entre v-model y v-bind</p>
                <input type="text" v-bind:value="valorBind"/>
                <p>El valor es el mismo y depende del asignado en la variable: {{valorBind}}</p>
                <input type="text" v-model="valorModel"/>
                <p>Es bidireccional: {{valorModel}} </p>
                <a v-bind:href="link" class="text-light">
                    Ver documentación de {{nombreLink}}
                </a>
            </div>
            <div class="my-5">
                <h2 v-if="nombre">
                    Hola, {{nombre}}
                </h2>
                <h3 v-else="">
                    Escriba su nombre
                </h3>
                <input class="form-control" type="text" v-model="nombre"/>
            </div>
            <div class="my-5">
                <p v-for="tecnologia in tecnologias">
                    {{tecnologia}}
                </p>
            </div>
            <ol>
                <li v-for="elemento in tecnologias">
                    {{elemento}}
                </li>
            </ol>
        </div>
        <div id="formVue">
            <form class="my-5" v-on:submit.prevent="guardarTarea">
                <h2>Lista de Tareas:</h2>
                <input type="text" v-model="nuevaTarea"/>
                <input type="submit" class="btn btn-outline-dark" value="Agregar"/>
                <ol>
                    <li v-for="tarea in tareas">
                        {{tarea}}
                    </li>
                </ol>
            </form>
        </div>
        <div id="app2">
            <div class="my-5">
                <p>
                    Otra forma de escribir v-bind:
                </p>
                <input :value="valor" type="text"/>
                <input type="text" v-bind:value="valor"/>
                <p>
                    Otra forma de escribir v-on
                </p>
                <input @click="enviar" class="btn btn-dark" type="submit"/>
                <input class="btn btn-dark" type="submit" v-on:click="enviar"/>
                <button class="btn btn-outline-dark" v-on:click="masUno">
                    {{ contador }}
                </button>
            </div>
            <div class="my-5">
                <h3>
                    Computed
                </h3>
                <input type="number" v-model.number="num1"/>
                <input type="number" v-model.number="num2"/>
                <!-- nos devuelve un string así que hay que usar un modificador, para convertirlo en tipo númerico usamos v-model.number -->
                <p>
                    Resultado {{multiplicar}}
                </p>
            </div>
            <div class="m-3">
                <label>
                    Ancho
                    <input type="range" v-model="ancho"/>
                </label>
                <label>
                    Alto
                    <input type="range" v-model="alto"/>
                </label>
                <img :src="linkCompleto" class="d-block"/>
                <p>
                    {{linkCompleto}}
                </p>
            </div>
            <etiqueta-vue titulo="Hola Mundo">
            </etiqueta-vue>
            <etiqueta-vue titulo="Otro titulo">
            </etiqueta-vue>
            <etiqueta-vue titulo="Otro">
            </etiqueta-vue>
            <etiqueta-vue>
            </etiqueta-vue>
        </div>
        <div id="bgColorChange" v-bind:class="colorElemento">
            <div class="my-4">
                <button class="btn btn-info" v-on:click="cambiarColor('info')">
                    Celeste
                </button>
                <button @click="cambiarColor('danger')" class="btn btn-danger">
                    Rojo
                </button>
                <button @click="cambiarColor('success')" class="btn btn-success">
                    Verde
                </button>
                <button @click="cambiarColor('warning')" class="btn btn-warning">
                    Amarillo
                </button>
                <button @click="cambiarColor('dark')" class="btn btn-dark">
                    Negro
                </button>
                <button @click="cambiarColor('primary')" class="btn btn-primary">
                    Azul
                </button>
            </div>
            <div>
                <h2>
                    Elegí un color
                </h2>
            </div>
        </div>
    </main>
    <footer class="container-fluid text-center navbar-light bg-light footer p-2">
        <span>
            <a  class="text-muted" href="https://icons8.com" target="_blank">Some icons are from Icons8</a>
        </span>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <!-- vue (va antes que el js) -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js">
    </script>
    <!-- js -->
    <script src="../script/vue.js"></script>
</body>
</html>